<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }

  </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= subheading %></p>
    <p>Welcome to my wesite showing a collection of DevOps terms. </p>
    <table>
      <tr>
        <th>ID#</th>
        <th>Term</th>
        <th>Description</th>
        <th>Reference</th>
      </tr>
      <tr>
        <td>1</td>
        <td>DevOps</td>
        <td>The term is an extraction from Development and Operation. It means the communication, collaboration and integration between development teams and IT operation teams.</td>
        <td>Global knowledge, "DEVOPS GLOSSARY OF TERMS", accessed 22 Jul 2023</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Artificial Intelligence (AI)</td>
        <td>It acts as a human intelligence in machinces which can learn and solve problems.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deployment</td>
        <td>It means the relese of software updates to users. In general, the deployment of a software is tested and it is a stable version.</td>
        <td>Global knowledge, "DEVOPS GLOSSARY OF TERMS", accessed 22 Jul 2023</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Functional Testing</td>
        <td>The functions or features of a software are tested by inputting data and evaluating the results.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Infrastructure-as-a-Service (IaaS)</td>
        <td>Computing resuorces can be assessed via a virtual server.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>
        <td>6</td>
        <td>Release</td>
        <td>When a system or application is built, tested and deployed together, it is released.</td>
        <td>Global knowledge, "DEVOPS GLOSSARY OF TERMS", accessed 22 Jul 2023</td>
      </tr>
        <td>7</td>
        <td>Lead Time</td>
        <td>A amonut of time required for delivering a function or an application.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>
      <td>8</td>
        <td>Machine Learning (ML)</td>
        <td>Machine learning is a learning method of a computer to simulate a human intelligence.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>
      <td>9</td>
        <td>Software-as-a-Service (SaaS)</td>
        <td>Applications are hosted over the interent for users to access.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>
      <td>10</td>
        <td>Virtual Machine (VM)</td>
        <td>It is a virtual environment that a software program or operating system can run and execute.</td>
        <td>Plutora, "DevOps Terminology: A Glossary", accessed 22 Jul 2023</td>
      </tr>

    </table>


    
  </body>
</html>
